*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */

nav{
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

#left-navigation{
    padding: 16px 32px;
}

#mid-navigation{
    position: relative;
}

#mid-navigation input{
    width: 84%;
    padding: 8px;
    border: 1px solid silver;
    border-radius: 3px 0px 0px 3px;
    font-size: medium;
    height: 100%;
}

#mid-navigation button{
    position: absolute;
    top: 0;
    left: 84%;
    padding: 9.5px 24px;
    margin-left: -1px;
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 60%);
    border: 1px solid silver;
    border-radius: 0px 3px 3px 0px;
}

#right-navigation{
    padding: 16px 32px;
    justify-self: end;
}

.right-nav-item{
    padding: 0px 16px;
    color: hsl(0, 0%, 40%);
}


/* Video section */

#main-container{
    grid-template-columns: 2fr 1fr;
    background-color: hsl(0, 0%, 98%);
    padding: 16px 36px;
}

#video{
    border: none;
}

#video-section h3{
    font-weight: 300;
    padding: 24px 0px 16px 0px;
}

#video-info{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: gray;
    padding-bottom: 8px;
}

#video-icons{
    justify-self: end;
}

.video-icon{
    padding: 0px 16px 8px 16px;
}

.video-icon-desc{
    padding: 0px 0px 0px 8px;
    font-size: 0.9rem;
}

#video-section hr{
    border: none;
    height: 1px;
    background-color: hsl(0, 0%, 90%);
}

#uploader-info{
    padding: 16px 0px;
    grid-template-columns: 0.5fr 6fr 1fr;
    align-items: center;
}

#uploader-avatar{
    border-radius: 50%;
    height: 100%;
}

#uploader-info button{
    background-color: #cc181e;
    color: hsl(0, 0%, 95%);
    padding: 10px 0px;
    border-radius: 1px;
    border: none;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif;
}

/* Recommend Section */

#recommend-section{
    padding-left:24px;
}

.recommend-box{
    padding-top: 16px;
    margin-bottom: -8px;
    grid-template-columns: 1fr 1fr;
}

.recommend-detail{
    color: gray;
    font-size: small;
}

/* Generic classes */

.grid-container{
    display: grid;
}

